{% extends 'base.html.twig' %}

{% block title %} | Upload{% endblock %}

{% block body %}
    <form method="post" action={{ action }}>
        <h1 class="h3 mb-3 font-weight-normal">Upload</h1>
        <div class="form-group">
            <label for="inputTitle">Title</label>
            <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" required autofocus>
        </div>
        <div class="form-group">
        <div class="custom-file">
            <label for="inputFile" class="custom-file-label">File</label>
            <input type="file" name="file" id="inputFile" class="custom-file-input" required>
        </div>
        </div>

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="btn btn-lg btn-primary" type="submit">
            Upload
        </button>
    </form>
{% endblock %}
